DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_PORT=3306
JWT_SECRET=generate_with_node_-e_console.log(require('crypto').randomBytes(32).toString('hex'))
PORT=your_server_port
REACT_APP_API_URL=https://dev-apk.samarindakota.go.id/api
ALLOWED_ORIGINS=https://dev-apk.samarindakota.go.id
NODE_ENV=production

RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
