DB_HOST=localhost
DB_USER=user
DB_PASSWORD=password
DB_NAME=dbname
DB_PORT=port
JWT_SECRET=hushhushsecretkey
PORT=server_port
REACT_APP_API_URL=http://localhost:server_port/api

RECAPTCHA_SECRET_KEY=hushhushsecretkey