@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #B6FF8C;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body.dashboard-page {
  background-color: #EAEAEA;
  display: block;
  height: auto;
}

body.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.App {
  width: 100%;
  min-height: 100vh;
}

.App.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input:focus {
  border: 2px solid #22C55E !important;
  outline: none !important;
}